extends layout

block scripts
  script(src='/bower_components/c3/c3.min.js')
  script(src='/bower_components/d3/d3.min.js')
  script(src='/bower_components/matchHeight/dist/jquery.matchHeight-min.js')

block nav
  .layout-pf.layout-pf-fixed
    nav(class='navbar navbar-pf', role='navigation')
      .navbar-header
        button(type='button' class='navbar-toggle' data-target='navbarCollapseId1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/', class='navbar-brand') 
          //img(class='navbar-brand-icon', src='/bower_components/patternfly/dist/img/logo-alt.svg', alt='')
          img(class='navbar-brand-name', alt='AWS S3 Image Viewer')
      #navbarCollapseId1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.navbar-utility
          li.dropdown
            a(href='#0', class='dropdown-toggle nav-item-iconic' id='dropdownMenuHelpButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
              span(title='Help', class='pficon pficon-help fa-2x')
              span(class='caret')
            ul(class='dropdown-menu', aria-labelledby='dropdownMenuHelpButton')
              li: a(href='/about') About
        ul.nav.navbar-nav.navbar-primary
          li.dropdown
            a(href='#0', class='dropdown-toggle nav-item-iconic' id='dropdownMenuPlusButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
              span(title='Add', class='fa fa-plus')
              span(class='caret')
            ul(class='dropdown-menu', aria-labelledby='dropdownMenuPlusButton')
              // TODO: make this an a(href=) - not sure how to get it to toggle the modal correctly
              li: button(class='btn btn-default wizard-pf-open wizard-pf-complete' data-target='#adds3bucket') Add S3 Bucket
          - var bucketsArray = JSON.parse(buckets);
          if bucketsArray.length < 1
            .toast-pf.toast-pf-top-right.alert-warning.alert-dismissable.alert
              button(type='button' class='close' data-dismiss='alert' aria-hidden='true')
                span.pficon.pficon-close
              span.pficon.pficon-warning-triangle-o
              | No buckets have been configured
            li
              a(href='#0')
                span(class='pficon pficon-warning-triangle-o' data-toggle='tooltip' title='NONE')
                span(class='list-group-item-value') #[em   NO BUCKETS]
          else
            each bucketIter in bucketsArray ? bucketsArray: ['No Buckets!']
              li
                a(href='/?showBucket='+ bucketIter)
                  span(class='fa fa-bitbucket' data-toggle='tooltip' title=bucketIter)
                  span(class='list-group-item-value') #[  #{bucketIter}]

block content
  .container-fluid.container-cards-pf
    br
    p Welcome to #{title} - you are viewing S3 bucket #[strong #{showBucket}]

    - var imagesArray = JSON.parse(images);
    if imagesArray.length < 1
      .blank-slate-pf
        .blank-slate-pf-icon
          .fa.fa-ban
          p #[strong No Images Found]
    else
      .row.row-cards-pf
      each imageUrl in imagesArray ? imagesArray: ['DANGER-WILL-ROBINSON']
        //.col-xs-12.col-sm-6.col-md-4.col-lg-3
        .col-xs-12.col-sm-4.col-md-3.col-lg-2
          .card-pf.card-pf-view
            .card-pf-body
              .card-pf-top-element
                  img(src=imageUrl, alt='Image', style='max-height: 100%; width: 100%; object-fit: contain')
              //.card-pf-title.text-center #{imageUrl}
              .card-pf-items.text-center
                a(href=imageUrl)
                  span.fa.fa-arrow-circle-o-down.fa-2x
    

  div(class='modal' id='adds3bucket' tabindex='-1' role='dialog')
    .modal-dialog.modal-lg.wizard-pf
      .modal-content
        .modal-header
          button(type='button' class='close' data-dismiss='modal' aria-hidden='true' aria-label='Close')
            span.pficon.pficon-close
          h4.modal-title Add S3 Bucket
        .modal-body.wizard-pf-body.clearfix
          .wizard-pf-row
            .wizard-pf-main
              .wizard-pf-contents
                form.form-horizontal
                  .form-group.required
                    label(class='col-sm-2 control-label' for='textInput-markup') Name
                    .col-sm-10
                      input(type='text' name='bucketNameTextInput' id='bucketNameTextInput' data-id='textInput-markup' class='form-control')

        .modal-footer.wizard-pf-footer
          button(type='button' class='btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss') Cancel
          button(type='button' class='btn btn-primary wizard-pf-add') Add

  script(type='text/javascript').
    $(document).ready(function() {
      // matchHeight the contents of each .card-pf and then the .card-pf itself
      $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
      // initialize tooltips
      $('[data-toggle="tooltip"]').tooltip();

      //$().setupVerticalNavigation(true);

      // Setup modal popup wizard
      var addBucketWizard = new wizard(".btn.wizard-pf-complete");
    });

    var wizard = function(id) {
      var self = this, modal, contents;
      self.id = id;
      $(self.id).click(function() {
          self.init(this)
      });
      this.init = function(button){
        // get id of open modal
        self.modal = $(button).data("target");
        // open modal and start looking for button clicks
        $(self.modal).modal('show');
        self.addBtnClick();
        self.cancelBtnClick();
      };
      // Add button clicked
      this.addBtnClick = function() {
        $(self.modal + " .wizard-pf-add").click(function() {
          // TODO add bucket to the list
          var bucketname = $('input[name=bucketNameTextInput]').val();
          console.log('trying to add bucket ' + bucketname)
        });
      };
      // Cancel/Close button clicked
      this.cancelBtnClick = function() {
        $(self.modal + " .wizard-pf-dismiss").click(function() {
          // close the modal stop listening for button clicks
          $(self.modal).modal('hide');
          $(self.modal + " .wizard-pf-add").off("click");
          $(self.modal + " .wizard-pf-dismiss").off("click");
        });
      };
    };